body {
	background-color: #ecf0f1;
	width: 125px;
	font-family: arial;
	font-size: 9pt;
	vertical-align: center;
}
h1 {
	font-family: arial;
	font-size: 11pt;
	color: black;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
button {
	width: 31px;
	height: 31px;
	border: solid;
	border-width: 2px;
	border-color: black;
	padding: 0px;
	margin: 5px;
	margin-left: 0px;
	font-size: 7pt;
	font-family: arial;
	vertical-align: middle;
	cursor: pointer;
}
hr {
	padding: 0px;
	margin: 0px;
	color: #7f8c8d;
	background-color: #7f8c8d;
	height: 1px;
}