body {
	background-color: #ecf0f1;
	width: 150px;
	font-family: arial;
	font-size: 9pt;
	vertical-align: center;
	margin: 0px;
	padding: 0px;
	border: none;
}
h1 {
	font-family: arial;
	font-size: 11pt;
	color: black;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
button {
	width: 150px;
	height: 37px;
	padding: 0px;
	border: none;
	background: none;
	margin: 0px;
	margin-left: 0px;
	font-size: 7pt;
	font-family: arial;
	vertical-align: middle;
	cursor: pointer;
}
a.xbutton {
	display: block;
	width: 150px;
	height: 37px;
	background-image: url('Pics/ctrl_x_button.png');
	padding: 0px;
	margin: 0px;
	border: none;
}
a.xbutton:hover {
	background-image: url('Pics/ctrl_x_button_hover.png');
}